<nav class="navbar">
  <img class="navbar__logo" src="../../assets/logo.png" alt="Logo" />
  <button
    class="navbar__btn"
    type="button"
    [routerLink]="'/'"
    (click)="logout()"
  >
    Logout
  </button>
</nav>

<section class="browse">
  <article class="browse__header">
    <span class="browse__header__head">
      User Files |
      <span class="browse__header__head--admin" [routerLink]="'/admin'">
        Admin Files
      </span>
    </span>
    <button class="browse__header__btn" [routerLink]="'/app'">Upload</button>
  </article>
  <article class="label">
    <span class="label__type">Name</span>
    <span class="label__type label__type--hide">File Type</span>
    <span class="label__type label__type--hide">Size (bytes)</span>
    <span class="label__type label__type--hide">Hash (Click to Copy)</span>
  </article>
  <ul>
    <li class="file" *ngFor="let file of uploads; let i = index">
      <span class="file__meta">{{ file.name }}</span>
      <span class="file__meta file__meta--type file__meta--hide">{{
        file.fileType
      }}</span>
      <span class="file__meta file__meta--hide">{{ file.size }}</span>
      <span
        class="file__meta file__meta--hide file__meta--hash"
        (click)="copyToClipboard(i)"
      >
        {{ file.hash.slice(0, 15) + "..." }}
      </span>
      <button
        class="file__download"
        type="button"
        (click)="onDownload(file.hash)"
      >
        <img
          class="file__download__icon"
          src="../../../assets/download.png"
          alt="Download File"
        />
      </button>
    </li>
  </ul>
</section>
