<nav class="navbar">
  <img class="navbar__logo" src="../../assets/logo.png" alt="Logo" />
  <button
    [routerLink]="'/'"
    class="navbar__btn"
    type="button"
    (click)="logout()"
  >
    Logout
  </button>
</nav>
<header class="header">
  <article class="header__search">
    <input
      type="text"
      class="header__search__bar"
      placeholder="Enter hash of file or folder"
    />
    <button class="header__search__btn">Search</button>
  </article>
  <article
    class="upl"
    [ngClass]="{ 'opacity-50': fileDrag }"
    (dragenter)="onDragOver()"
    (dragleave)="onDragLeave()"
  >
    <input
      type="file"
      (input)="getFile($event)"
      [accept]="'.txt'"
      id="drop"
      #fileUpload
    />
    <h3 class="upl__head">Upload your file</h3>
    <img class="upl__icon" src="../../assets/upload.png" alt="Upload" />
    <span class="upl__text" [hidden]="fileName">
      Drag & Drop or
      <label class="upl__text__link">
        <input
          type="file"
          (input)="getFile($event)"
          [accept]="'.txt'"
          #fileUpload
          id="link"
        />
        File/Folder
      </label>
      to Upload.
    </span>
    <div [hidden]="!fileName" class="upl__file">
      <div class="upl__file__name">
        {{ fileName || "No file uploaded yet" }}
      </div>
      <button class="upl__file__btn">Upload to IPFS</button>
      <button class="upl__file__btn" (click)="removeFile()">Remove File</button>
    </div>
    <span for="fileDropRef" class="upl__subtext" [hidden]="fileName">
      TXT or FOLDER
    </span>
  </article>
</header>

<footer class="f">
  <article class="f__text">
    <span class="f__text__head">Browse:</span> To look for a file or folder,
    enter a hash in the search bar.
  </article>
  <div class="f__vl"></div>
  <article class="f__text">
    <span class="f__text__head">Upload:</span> To upload a new file to the IPFS,
    drag and drop a file or folder into the upload section above.
  </article>
  <button [routerLink]="'/'" class="f__btn">Logout</button>
</footer>
