<nav class="navbar">
  <img class="navbar__logo" src="../../assets/logo.png" alt="Logo" />
  <button
    [routerLink]="'/'"
    class="navbar__btn"
    type="button"
    (click)="logout()"
  >
    Logout
  </button>
</nav>

<header class="header">
  <form
    class="header__search"
    ngNativeValidate
    #fetchForm="ngForm"
    (submit)="onFetch(fetchForm.value)"
  >
    <input
      type="text"
      class="header__search__bar"
      placeholder="Enter hash of file or folder"
      ngModel
      name="hash"
      required
    />
    <button class="header__search__btn" type="submit">Search</button>
  </form>

  <div [hidden]="!fetchComplete || !successFetch">
    <div class="upl">
      <h1 class="upl__h1">
        {{ fetchMessage }}
      </h1>
      <h3 class="upl__h3">File Contents</h3>
      <div class="upl__cont">
        {{ fetchContent }}
      </div>
      <button class="upl__btn" type="button" (click)="restart()">Clear</button>
    </div>
  </div>

  <div [hidden]="!fetchComplete || !failureFetch">
    <div class="upl">
      <h1 class="upl__h1--fail">
        {{ fetchMessage }}
      </h1>
      <h3 class="upl__h3">
        You are either unauthorised to view the file or the hash provided is
        incorrect.
      </h3>
      <button class="upl__btn" type="button" (click)="restart()">Clear</button>
    </div>
  </div>

  <div [hidden]="!uploadComplete || !successUpload">
    <div class="upl">
      <h1 class="upl__h1">{{ uploadMessage }}</h1>
      <h3 class="upl__h3">Your file has the hash: {{ successHash }}</h3>
      <button class="upl__btn" type="button" (click)="restart()">Clear</button>
    </div>
  </div>

  <div [hidden]="!uploadComplete || !failureUpload">
    <div class="upl">
      <h1 class="upl__h1--fail">{{ uploadMessage }}</h1>
      <button class="upl__btn" type="button" (click)="restart()">Clear</button>
    </div>
  </div>

  <div [hidden]="uploadComplete || fetchComplete">
    <form
      class="upl"
      [ngClass]="{ 'opacity-50': fileDrag }"
      (dragenter)="onDragOver()"
      (dragleave)="onDragLeave()"
      ngNativeValidate
      #fileUploadForm="ngForm"
      (submit)="onSubmit(fileUploadForm.value)"
    >
      <input
        type="file"
        (input)="getFile($event)"
        [accept]="'.txt,.png'"
        id="drop"
        [hidden]="fileName"
        #fileUpload
      />
      <h3 class="upl__head">Upload your file</h3>
      <img
        class="upl__icon"
        src="../../assets/text.png"
        alt="Text File"
        [hidden]="!textFile"
      />
      <img
        class="upl__icon"
        src="../../assets/png.png"
        alt="PNG File"
        [hidden]="!pngFile"
      />
      <img
        class="upl__icon"
        src="../../assets/upload.png"
        alt="Upload"
        [hidden]="fileName"
      />
      <span class="upl__text" [hidden]="fileName">
        Drag & Drop or
        <label class="upl__text__link">
          <input
            type="file"
            (input)="getFile($event)"
            [accept]="'.txt,.png'"
            #fileUpload
            id="link"
          />
          File/Folder
        </label>
        to Upload.
      </span>
      <div [hidden]="!fileName" class="upl__file">
        <div class="upl__file__name">
          {{ fileName || "No file uploaded yet" }}
        </div>
        <div class="upl__file__btngrp">
          <button
            class="upl__file__btngrp__btn"
            (click)="removeFile()"
            type="button"
          >
            Remove File
          </button>
          <div class="upl__file__btngrp__select">
            <span>Choose Access Level: </span>
            <select name="access" ngModel required>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>
          <button class="upl__file__btngrp__btn" type="submit">
            Upload to IPFS
          </button>
        </div>
      </div>
      <span for="fileDropRef" class="upl__subtext" [hidden]="fileName">
        TXT, PNG
      </span>
    </form>
  </div>
</header>

<footer class="f">
  <article class="f__text">
    <span class="f__text__head">Browse:</span> To look for a file or folder,
    enter a hash in the search bar.
  </article>
  <div class="f__vl"></div>
  <article class="f__text">
    <span class="f__text__head">Upload:</span> To upload a new file to the IPFS,
    drag and drop a file or folder into the upload section above.
  </article>
  <button [routerLink]="'/'" class="f__btn">Logout</button>
</footer>
