<nav class="navbar">
  <img class="navbar__logo" src="../../assets/logo.png" alt="Logo" />
  <button
    class="navbar__btn"
    type="button"
    [routerLink]="'/'"
    (click)="logout()"
  >
    Logout
  </button>
</nav>

<section class="browse">
  <article class="browse__header">
    <span class="browse__header__head">
      <span class="browse__header__head--user" [routerLink]="'/browse'">
        User Files
      </span>
      | Admin Files
    </span>
    <button class="browse__header__btn" [routerLink]="'/app'">Upload</button>
  </article>
  <article class="label">
    <span class="label__type">Name</span>
    <span class="label__type label__type--hide">File Type</span>
    <span class="label__type label__type--hide">Size</span>
    <span class="label__type label__type--hide">Last Modified</span>
  </article>
  <article class="file">
    <span class="file__meta">ABCD</span>
    <span class="file__meta file__meta--type file__meta--hide">txt</span>
    <span class="file__meta file__meta--hide">3 Kb</span>
    <span class="file__meta file__meta--hide">3/12/1239</span>
    <button class="file__download">
      <img
        class="file__download__icon"
        src="../../../assets/download.png"
        alt="Download File"
      />
    </button>
  </article>
</section>
