<nav class="navbar">
  <img class="navbar__logo" src="../../assets/logo.png" alt="" />
  <button class="navbar__btn">Login</button>
</nav>
<section class="home">
  <section class="home__hero">
    <section class="home__hero__tags">
      <div class="home__hero__tags__item">Capstone Project</div>
      <div class="home__hero__tags__item">Shreyas Khan (19BCE2265)</div>
    </section>
    <article class="home__hero__main">Browse your files efficiently.</article>
    <article class="home__hero__footer">
      A distributed file system utilising IPFS.
    </article>
    <button class="home__hero__btn">Login Now</button>
  </section>
  <aside>
    <img class="home__hero__img" src="../../assets/landing.png" alt="IPFS" />
  </aside>
</section>
